@model IEnumerable<Repas.Models.DateForniture>

@{
    ViewData["Title"] = "Index";
}
<div class="div-content border border-light-subtle mb-3">
    <div id="calendar" data-provide="calendar"></div>
</div>
@* <p>
    <a class="btn btn-primary" asp-action="Create">Nouveau jour</a>
</p>
<div class="div-content border border-light-subtle">
    <h3>Forniture par date</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
                <tr>
                    <td>
                        <strong>@item.FornitureDate.ToString("dd/MM/yyyy")</strong>
                </td>
                <td>
                        <a>Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div> *@

<div id="exist-div" class="div-content border border-light-subtle" style="display: none;">
    <h3>Date est deja exist voila les details :</h3>
    <hr />
    <table class="table table-striped">
        <thead>
           
        </thead>
        <tbody></tbody>
    </table>
</div>


<div id ="myModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>La date :  <strong id="modal-text-message"></strong> n'est pas exist , Voullez vous créer ? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                <button id="modal-yes-btn" type="button" class="btn btn-primary">Oui</button>
            </div>
        </div>
    </div>
</div>



