@model IEnumerable<Repas.Models.DateForniture>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a class="btn btn-primary" asp-action="Create">Nouveau jour</a>
</p>
<div class="div-content border border-light-subtle">
    <h3>Forniture par date</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
                <tr>
                    <td>
                        <strong>@item.FornitureDate.ToString("dd/MM/yyyy")</strong>
                </td>
                <td>
                        <a>Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>