@model Repas.Models.Service

@{
    ViewData["Title"] = "Ajouter un service";
}

<p class="text-center bg-white p-3 fw-bold h3 my-3">@ViewData["Title"]</p>


<div class="container">
<div class="row">
        <div class="col-md-6 div-content border border-light-subtle">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-1">
                <label asp-for="ServiceName" class="control-label mb-2">Nom de service</label>
                <input asp-for="ServiceName" class="form-control mb-2" />
                <span asp-validation-for="ServiceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a asp-action="Index">Retour a la liste des services</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
