@model Repas.Models.TypeRepas

@{
    ViewData["Title"] = "Modifier le type de repas";
}

<p class="text-center bg-white p-3 fw-bold h3 my-3 text-capitalize">@ViewData["Title"]</p>

<div class="container">
<div class="row">
        <div class="col-md-6 div-content border border-light-subtle">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-2">
                <label asp-for="Type" class="control-label mb-2"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Destination" class="control-label mb-2"></label>
                <select asp-for="Destination" class="form-control">
                    @foreach (var item in Enum.GetValues(typeof(Destination)))
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
    </div>
</div>

<div class="mt-2">
    <a asp-action="Index">Retour a la liste des type repas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
